<h1>Results#top</h1>
<p>Find me in app/views/results/top.html.erb</p>

<table class="table">
  <thred>
    <tr>
      <th></th>
      <th>点数</th>
    </tr>
  </thred>
  <tobody>
    <tr>
      <td>神経症傾向</td>
      <td><%= @em.calculate_score.to_s %></td>
    </tr>
  </tobody>
</table>
